/*	----------------------------------------------------------------------------------------------------
*
*	 Bloque info
*
------------------------------------------------------------------------------------------------------ */

.block-info{

	padding: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	background: rgba(6, 24, 37, .6);	


	.block-table{
		margin-left: -20px;
		margin-right: -20px;		
	}

		
	.info{
	
		position: relative;
		
		date{
			display: block;
			font-size: 12px;
		}
		
		&.underline{
			margin-left: -20px;
			margin-right: -20px;
			border-bottom: 1px solid #5f6f86;
		}
		
	}
		
	
}


.datepicker{
	opacity: 1;
	  transition: all 1s ease-in-out;
	  
	 &.hidden{
	 	opacity: 0;
	 } 


	 tfoot{
		border-top:1px solid #67778a;	  

	 }
	 tfoot{
		 text-align: right;
	 }
	 th.clear{
		 padding-top: 20px!important;
		 padding-right: 20px!important;		 
		 text-align: right;
		 padding-bottom: 10px;
		 
	 }
	 &.dropdown-menu{
		 height: 390px!important;
	 }
}

.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover{
	background: none!important;
}
#off-canvas-right,
#off-canvas-left,
button.navbar-toggle,
button.navbar-toggle.close-canvas[data-side=right]{
	position: fixed;
}
