/*	----------------------------------------------------------------------------------------------------
*
*	 Bloque info-flight
*
------------------------------------------------------------------------------------------------------ */

.block-info-flight{

	margin-top: 20px;
	margin-bottom: 20px;
	 display: inline-block;
	 width: 100%;
	.city{
		font-size: 35px;
		margin: 15px;
		position: relative;
		top:10px;
	}
	
	.num-flight {
		
		font-size: 16px;
	}
	
	.flights-info{
		
		position:relative;
		
		[class*="icon-"]{
			position: absolute;
			right: 15px;
			top:5px;
		}
		
		//background:url('../img/bg-clouds.jpg');
		background: rgba(6, 24, 37, .6);
		background-repeat: no-repeat;
		background-size: cover;		
		
		.info{
			padding-bottom: 0px;
			padding-top: 20px;
			border-bottom: 1px solid #44638a;
			position: relative;
			
			
			&.underline{
				border-bottom: 1px solid #5f6f86;
			}
			
		}
		
	}
	
}


.delayed	{
	
	border-radius: 4px;
	padding: 5px;
	padding-left:25px;
	display: inline-block;	
	position: relative;
	font-size: 11px;
	&.ontime{
		background:@color-success;

		&:before{
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			background: url('../img/icons/icon-check.png');
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			left: 5px;
			top:5px;
		}

		
	}
	&.delay{
		background:@color-warning2;

		&:before{
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			background: url('../img/icons/icon-alert-white.png');
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			left: 5px;
			top:5px;
		}

		
	}
	&.cancelled{
		background:@color-danger;

		&:before{
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			background: url('../img/icons/icon-alert-white.png');
			background-repeat: no-repeat;
			background-size: 100%;
			position: absolute;
			left: 5px;
			top:5px;
		}

		
	}	
	
}


.block-state-flight{
	background: rgba(6, 24, 37, .6);
	padding: 15px;
	margin-left: 20px;
	position: relative;
	border-radius: 4px;
	font-size: 16px;
	&:before{
		position: absolute;
		content: "";
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 10px 0;
		border-color: transparent #061826 transparent transparent;
		opacity: .6;
		left: -10px;
		top:10px;
		

	}	
}
