// -------------------------------------------------- 
//	Nav off canvas
// --------------------------------------------------


//Cambiar XS por SM si lo queremos en iPad
@media (max-width: @screen-max-xs) {
		
		
	.in {
		&.left{
			button.navbar-toggle {
				
				&[data-target="#off-canvas-left"]{
					
					span{
						transform: rotate(45deg);
						top:5px;
					
						&:nth-child(2n){
							opacity: 0;
						}
						
						&:last-child{
							transform: rotate(-45deg);
							top:-7px;
						}
					}						
					
					
				}
				
				
			}
		}
	}	
		
	//Estilos del botón	
	button.navbar-toggle {
		width: 20px;
		height: 20px;
		
		span{
			 transition: all 0.5s ease;
			 opacity: 1;
		}
		
		
		
	}
	
	
	
	
	//Estilos del menu
	.off-canvas {
		padding-top: 0;
		top:57px;
		//Version izquierda
		&[data-side="left"]{
			
			
			li{
				background: @color-white;
				margin-bottom: 1px;
				.caret{
					background: url('../img/icon-caret-primary.png');
					background-repeat: no-repeat;
					width: 15px;
					height: 15px;
					background-size: 100%;
					transform: rotate(180deg);
					
				

						
					}
					

				a{
					color:@color-primary;
					display: block;
					padding-top: 15px;
					padding-bottom: 15px;
					&:hover{
						text-decoration: none;	
					}				
					&.opened{
						
						background: @color-primary;
						color:@color-white;
						 + .caret{
							background: url('../img/icon-caret-white.png');
							transform: rotate(0deg);	
							background-size: 100%;	
							background-repeat: no-repeat;
																				
						}
					
					}
					
					&.log-out{
						background: @color-dark-blue;
						color: @color-white;
					}
				}
				
				ul{
					background: @color-grey;
				}
				
				li{
					margin-left: 0;
					background: @color-grey-softest;
					&:last-child{
						margin-bottom: 0;
					}
					a{
						margin-left: 0;
						color: @color-text-dark;
						&:hover{
							text-decoration: none;	
						}


						
					}
				}
				
			}
			

		}		

		//Version derecha
		&[data-side="right"]{
			z-index: 9999!important;
			background: @color-grey;
			
			.inner-nav{
				padding: 15px;
				padding-top: 0;
			}
			.menu-canvas{
			    margin-left: -15px;
				margin-right: -15px;
			}
			.icon{
				margin-right: 15px;
				margin-left: 15px;
				margin-top: 7.5px;
			}
			li{
				border-bottom: 1px solid #636363;

			}
			a{
				margin-left: 45px;
				color:#636363;
				padding-top: 15px;
				padding-bottom: 15px;
				&:hover{
					text-decoration: none;	
				}
			}
		}		
		
		//Version top
		&[data-side="top"]{

		}		
		
		//Versión bottom
		&[data-side="bottom"]{

		}		
	}


	//Estilos de la capa semitransparente
	.canvas-wrap { 

	}
	
	//Tipos de animaciones

	//Opción 1. El body se oculta para mostrar el off-canvas
	//@import "../plugins/offcanvas/offcanvas-move.less";
	
	//Opcion 2. El off-canvas aparece por encima del body
	@import "../plugins/offcanvas/offcanvas-overlay.less";
	
	//Opcion 3. El off-canvas desplaza al body excepto al header (Añadir clase hide-canvas-in a elementos que no sean el main)
	//@import "../plugins/offcanvas/offcanvas-overlay-move.less";


}		