/*	----------------------------------------------------------------------------------------------------
*
*	 Icons
*
------------------------------------------------------------------------------------------------------ */
[class*="icon-"]{
	background-size: 100%;
}
.icon-arrow{
	background: url('../img/icons/icon-arrow.png');
	background-size: 100%;
	&.primary{
		background: url('../img/icons/icon-arrow-primary.png');
		background-size: 100%;
	}

}
.icon-alert{
	background: url('../img/icons/icon-alert.png');
	background-size: 100%;	
	&.primary{
		
	}
}

.icon-warning{
	background: url('../img/icons/icon-warning.png');
	background-size: 100%;	
	&.primary{
		
	}	
}

.icon-modify{
	background: url('../img/icons/icon-modify.png');
	background-size: 100%;	
	&.primary{
		background: url('../img/icons/icon-modify-primary.png');
		background-size: 100%;			
	}	
}
.icon-plus{
	background: url('../img/icons/icon-plus.png');
	background-size: 100%;	
	&.primary{
		background: url('../img/icons/icon-plus-primary.png');
		background-size: 100%;			
	}	
}
.icon-connect{
	background: url('../img/icons/icon-connect.png');
	background-size: 100%;	
	&.primary{
		background: url('../img/icons/icon-connect-primary.png');
		background-size: 100%;		
	}	
}
.icon-trash{
	background: url('../img/icons/icon-trash.png');
	background-size: 100%;	
	&.primary{
		background: url('../img/icons/icon-trash-primary.png');
		background-size: 100%;			
	}	
}