/*	----------------------------------------------------------------------------------------------------
*
*	 IMg
*
------------------------------------------------------------------------------------------------------ */

img{
	&.icon{
		display: inline-block;

		&.xs{
			max-width: 15px;
			min-width: 15px;
			margin-right: 5px;			
		}
		&.sm{
			max-width: 25px;
			min-width: 25px;
			+ span{
				margin-left: 10px;
				font-weight: 600;
			}
		}	
		&.md{
			max-width: 50px;
			min-width: 50px;

		}	
		&.lg{
			max-width: 80px;
			min-width: 80px;

		}					
			
	}
	
}